*{
    margin: 0px;
    padding: 0px;
    
}

.main{
    width: 100%;
    background-color: rgb(248, 246, 94);
    margin: 0px;
    overflow: visible;
}

/*Properties of the navigation bar*/

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    padding-left: -30px;
    float: left;
    padding-top: 0px;
    
}

/*Properties of the unordered list*/
ul{
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 8%;
    right: -40%;
    transform: translate(-70%, -50%);
}

ul li{
    list-style: none;
    padding: 5px 5px;
    margin: 0 15px;
}

ul li a{
    float: left;
    position: relative; 
    display: block;
    width: 140px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    transition: .5s; 
}

ul li a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:#b700db;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #b700db;
}
  
ul li a:hover {
    color: #b700db;
    box-shadow: 0 0 8px #b700db;
    text-shadow: 0 0 8px #b700db;
}

a {
    text-decoration: none;
}

.topic{
    font-size: 36px;
    font-family: 'Cambria';
    text-shadow: 2px 2px  #60f767;
    color: #008000;
    text-align: center;
    transform: translate(-9%, 350%);
    /*margin-top: 100px;*/
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
    transform: translate(-10%, 15%);
}


.gallery img {
    width: 330px;
    height: 350px;
    display: block;
}

.footer{
    position: relative;
    transform: translate(0%, 100%);
    width: 1309px;
    background:#000;
    padding: 30px 20px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row{
    margin: 0.5% 0%;
    padding: 0.6% 0%;
    color: #fff;
    font-size: 13px;
}

.footer .row a{
    text-decoration:none;
    color:#fff;
    transition:0.5s;
}

.footer .row a:hover{
    color:#ffee10;
}

.footer .row a i{
    font-size: 25px;
    margin: 0% 1%;
}